.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
@media screen and (max-width: 767px) {
  .qa-main-wrapper {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
}
@media screen and (max-width: 767px) {
  .qa-main-wrapper {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .qa-main-wrapper .sidebar-offcanvas {
    left: -50%;
  }
  .qa-main-wrapper.active {
    left: 50%;
  }
}
@media screen and (max-width: 767px) {
  .qa-main-wrapper .qa-left-side-bar {
    left: -50%;
    margin-left: 10px;
  }
  .qa-main-wrapper.active {
    left: 50%;
  }
}
.qa-left-side-bar {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100px;
  z-index: 1000;
}
@media (min-width: 768px) and (max-width: 991px) {
  .qa-left-side-bar {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .qa-left-side-bar {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .qa-left-side-bar {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .qa-left-side-bar {
    position: absolute;
    top: 0;
    width: 50%;
  }
}
.toggle-icon {
  padding: 10px 10px ;
}
@media (max-width: 767px) {
  .qa-nav-sub {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .qa-template-admin .qa-main-wrapper {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
}
@media screen and (max-width: 767px) {
  .qa-template-admin .qa-main-wrapper {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .qa-template-admin .qa-main-wrapper .sidebar-offcanvas {
    left: -50%;
  }
  .qa-template-admin .qa-main-wrapper.active {
    left: 50%;
  }
}
@media screen and (max-width: 767px) {
  .qa-template-admin .qa-main-wrapper .qa-left-side-bar {
    left: -50%;
    margin-left: 10px;
  }
  .qa-template-admin .qa-main-wrapper.active {
    left: 50%;
  }
}
.qa-template-admin .qa-main {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .qa-template-admin .qa-main {
    float: left;
    width: 75%;
  }
}
.qa-template-admin .qa-left-side-bar {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: none !important;
  min-height: 100px;
  z-index: 1000;
}
@media (min-width: 768px) {
  .qa-template-admin .qa-left-side-bar {
    float: left;
    width: 25%;
  }
}
@media (max-width: 767px) {
  .qa-template-admin .qa-left-side-bar {
    display: block !important;
  }
  table.qa-template-admin .qa-left-side-bar {
    display: table;
  }
  tr.qa-template-admin .qa-left-side-bar {
    display: table-row !important;
  }
  th.qa-template-admin .qa-left-side-bar,
  td.qa-template-admin .qa-left-side-bar {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .qa-template-admin .qa-left-side-bar {
    display: block !important;
  }
  table.qa-template-admin .qa-left-side-bar {
    display: table;
  }
  tr.qa-template-admin .qa-left-side-bar {
    display: table-row !important;
  }
  th.qa-template-admin .qa-left-side-bar,
  td.qa-template-admin .qa-left-side-bar {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .qa-template-admin .qa-left-side-bar {
    display: block !important;
  }
  table.qa-template-admin .qa-left-side-bar {
    display: table;
  }
  tr.qa-template-admin .qa-left-side-bar {
    display: table-row !important;
  }
  th.qa-template-admin .qa-left-side-bar,
  td.qa-template-admin .qa-left-side-bar {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .qa-template-admin .qa-left-side-bar {
    display: block !important;
  }
  table.qa-template-admin .qa-left-side-bar {
    display: table;
  }
  tr.qa-template-admin .qa-left-side-bar {
    display: table-row !important;
  }
  th.qa-template-admin .qa-left-side-bar,
  td.qa-template-admin .qa-left-side-bar {
    display: table-cell !important;
  }
}
@media screen and (max-width: 767px) {
  .qa-template-admin .qa-left-side-bar {
    position: absolute;
    top: 0;
    width: 50%;
  }
}
