.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
html {
  direction: rtl;
}
body {
  direction: rtl;
}
.pull-right {
  float: left !important;
}
.pull-left {
  float: right !important;
}
.caret {
  margin-right: 2px;
  margin-left: 0;
}
.dropdown-menu {
  right: 0;
  left: auto;
  float: left;
  text-align: right;
}
.dropdown-menu.pull-right {
  left: 0;
  right: auto;
  float: right;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: right;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-brand {
  float: right;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-right: -15px;
    margin-left: auto;
  }
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: auto;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 25px 5px 15px;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
  .navbar-nav > li {
    float: right;
  }
  .navbar-nav.navbar-right:last-child {
    margin-left: -15px;
    margin-right: auto;
  }
  .navbar-nav.navbar-right.flip {
    float: left !important;
  }
  .navbar-nav.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }
}
@media (min-width: 768px) {
  .navbar-text {
    float: right;
  }
  .navbar-text.navbar-right:last-child {
    margin-left: 0;
    margin-right: auto;
  }
}
blockquote {
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
.blockquote-reverse,
blockquote.pull-left {
  padding-left: 15px;
  padding-right: 0;
  border-left: 5px solid #eeeeee;
  border-right: 0;
  text-align: left;
}
/* small caret at the dropdown menu */
.navbar-nav:not(.navbar-right) li .dropdown-menu:before {
  top: -7px;
  left: 138px;
}
.navbar-nav:not(.navbar-right) li .dropdown-menu::after {
  top: -6px;
  left: 139px;
}
/* small caret at the dropdown right menu */
.navbar-nav.navbar-right li .dropdown-menu:before {
  top: -7px;
  right: 129px;
}
.navbar-nav.navbar-right li .dropdown-menu::after {
  top: -6px;
  right: 130px;
}
@media only screen and (max-width: 767px) {
  .navbar-nav.navbar-right li .dropdown-menu:before {
    top: -7px;
    right: 15px;
  }
  .navbar-nav.navbar-right li .dropdown-menu::after {
    top: -6px;
    right: 16px;
  }
}
