.jumbotron-ad {
  padding: 50px 0;
}
.jumbotron-ad h1 {
  margin-top: 25px;
  font-size: 90px;
  letter-spacing: -2px;
  line-height: 1;
  text-shadow: 4px 3px 0px #f2f2f2, 9px 8px 0px rgba(0, 0, 0, 0.15);
  margin: 0 0 15px;
}
.jumbotron-ad p {
  font-size: 28px;
  margin: 35px 0 20px;
  font-size: 24px;
  margin-bottom: 20px;
}
.jumbotron-carousel {
  padding: 50px 0;
}
.jumbotron-carousel h1 {
  font-size: 100px;
}
.jumbotron-carousel p {
  font-size: 32px;
  margin: 20px 0;
}
.jumbotron-carousel .btn-large {
  font-size: 30px;
  padding: 21px 35px;
}
