
.donut-footer {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 50px;
	color: @gray-light;
	text-align: center;
	border-top: 1px solid @light-border;
	background-color: @light-background;
	position: relative;
}

.qa-footer {
	color: @gray-light;
	text-align: center;
	a,
	a:visited {
		text-decoration: underline;
	}
	&-left {
		.pull-left();
	}
	&-right {
		.pull-right();
	}
}

.qa-nav-footer {
	float: left;
	&-list {
		float: left;
		list-style-type: none;
		margin: 0;
		margin-right: 2px;
		padding: 0;
	}
	&-item {
		float: left;
		margin-right: 5px;
	}
	&-link {
	}
	&-link:hover {
	}
}

.qa-attribution {
	.pull-right();
	a {
		&:hover {
		}
	}
}